<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="moubry.dinnerdecision" android-versionCode="6" version="1.5.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Dinner Decision</name>
  <description>
    Dinner Decision helps you and your friends, family, or coworkers come to an agreement on where you
    should go to dinner (or lunch or breakfast).  Start by searching for nearby restaurants or entering
    your own list of restaurants.  Then, each person will be asked in turn to vote on the restaurants.
    Finally, Dinner Decision will select the restaurant that is most wanted by everyone who participated.
  </description>
  <author href="http://moubry.com" email="info@moubry.com">
    Moubry Mobile, Inc.
  </author>
  <content src="index.html" />
  <access origin="https://api.foursquare.com" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="AndroidLaunchMode" value="singleTop" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#eb6864" />
  <preference name="StatusBarStyle" value="lightcontent" />
  <vs:plugin name="org.apache.cordova.device" version="0.2.12" />
  <vs:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
  <vs:plugin name="org.apache.cordova.statusbar" version="0.1.8" />
  <vs:plugin name="com.rjfun.cordova.plugin.admob" version="2.1.4" />
  <vs:platformSpecificValues />
</widget>