body {
  padding-top: 45px;
}

.vote-view {
    margin-top: 20px;
}

/* height of nexus one viewport: 458px */
/* height of nexus 4 viewport: 517px */
@media (max-height: 516px) {
  .hidden-xxs {
    display: none !important;
  }
}

.jumbotron {
    padding: 15px;
    margin-bottom: 15px;
}

.jumbotron .btn {
    margin-top: 20px;
}

.vote-buttons .btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    outline: none;
}

.vote-buttons .btn-default.active-vote {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
  background-image: none;
}

.vote-buttons h3 {
    text-align: center;
    margin-bottom: 50px;
}

.vote-buttons .btn {
    height: 65px;   
    width: 250px;
    max-width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-toggle:active,
.btn-toggle.active {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  background-image: none;
}

.jumbotron.bg-info {
    background-color: #d9edf7;
}

label.label-lg {
    display: block;
    font-size: 20px;
}

#element-before-footer {
    padding-bottom: 75px;
}

#footer {
    height: 75px;
    width:100%;
    margin:0;
    background-color: white;
}

#footer.footer-keyboard {
    position: relative;
    padding: 0;
    padding-top: 15px;
}

#footer.footer-normal {    
    position:fixed;
    bottom:0;
    left:0;
    padding:15px;
}

    #footer .btn-group {
        width: 100%;
    }

        #footer .btn-group .btn {
            width: 50%;
        }


.list-group-item .view {
    display:table;
    width:100%;
}
.list-group-item .view-column {
    display: table-cell;
    width: 100%;
    vertical-align: middle;    
    padding-right: 10px;  
}

.list-group-item .view-column:last-child {
    padding-right: 0px;
}