body {
    padding-top: 65px;
}

.back-button {
    width: 40px;
}

.back-button .glyphicon {
    top: 2px;
}

.android .back-button {
    display: none;
}

.dd-logo {
    margin: 0 auto;
}

.android .dd-logo {
    margin: 0;
}

.dd-logo img {
    width: 200px;
    padding-top: 2px;
}

.dd-spacer {
    width: 40px;
}

.navbar-header {
    display: flex;
}

.navbar-inverse .navbar-brand:focus, 
.navbar-inverse .navbar-brand:hover {
    background-color: transparent;
}

/* height of nexus one viewport: 458px */
/* height of nexus 4 viewport: 517px */
@media (max-height: 516px) {
    .hidden-xxs {
        display: none !important;
    }
}

.restaurant-wrapper {
    min-height: 92px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: table;
    width: 100%;
}

    .restaurant-wrapper h3 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.jumbotron {
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

    .jumbotron .btn {
        margin-top: 20px;
    }

.vote-buttons .btn-default:hover {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
    outline: none;
}

.vote-buttons .btn-default.active-vote {
    color: #ffffff;
    background-color: #eb6864;
    border-color: #eb6864;
    background-image: none;
}

.vote-buttons .btn {
    height: 65px;
    width: 250px;
    max-width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


    .btn-toggle:active,
    .btn-toggle.active {
        color: #ffffff;
        background-color: #eb6864;
        border-color: #eb6864;
        background-image: none;
    }

.jumbotron.bg-info {
    background-color: #d9edf7;
}

label.label-lg {
    display: block;
    font-size: 20px;
}

#element-before-footer {
    padding-bottom: 85px;
}

#footer {
    height: 85px;
    width: 100%;
    margin: 0;
    background-color: white;
}

    #footer.footer-keyboard {
        position: relative;
        padding: 0;
        padding-top: 15px;
    }

    #footer.footer-normal {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 15px;
    }

    #footer .btn-group {
        width: 100%;
    }

        #footer .btn-group .btn {
            width: 50%;
        }


.list-group-item .view {
    display: table;
    width: 100%;
}

.list-group-item .view-column {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding-right: 10px;
}

    .list-group-item .view-column:last-child {
        padding-right: 0px;
    }

#restaurant-list {
    margin-top: 15px;
}

    #restaurant-list label {
        margin-bottom: 0;
    }
