<div class="container">
    <h2>Dinner Decision v1.0</h2>
    <p style="font-size: 18px;margin-bottom:30px;">Dinner Decision helps you and your friends, family, or coworkers come to an agreement on where you 
       should go to dinner (or lunch or breakfast).  Start by searching for nearby restaurants or entering
       your own list of restaurants.  Then, each person will be asked in turn to vote on the restaurants. 
       Finally, Dinner Decision will select the restaurant that is most wanted by everyone who participated.</p>
    <a class="btn btn-primary btn-lg" href="mailto:info@moubry.com?subject=Dinner Decision Feedback&body=%0D%0A%0D%0A%0D%0A%0D%0A_____________________________________%0D%0ADinner Decision v1.0%0D%0A{{device.platform}} {{device.version}}">Send Feedback</a>
</div>