<div class="container">
    <h2>Participants</h2>
    <form id="guest-form" ng-submit="addGuest()">
        <input class="form-control input-lg" id="new-guest" placeholder="Who will be making the decision?" ng-model="newGuest" autofocus>
    </form>
    <div id="element-before-footer" ng-show="guests.length">
        <ul class="list-unstyled">
            <li class="list-group-item" ng-repeat="guest in guests | orderBy:'name'">
                <div class="view">
                    <div class="view-column">
                        <label>{{guest.name}}</label>
                    </div>
                    <div class="view-column">
                        <button ng-click="removeGuest(guest)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="footer">
        <div class="btn-group btn-group-lg">
            <a ng-click="goBackTo('/restaurants')" class="btn btn-default btn-lg">Back</a>
            <a ui-sref="vote.turn" class="btn btn-primary btn-lg">Next</a>
        </div>
    </div>
</div>