<div class="container">
    <h2>Restaurant Selection</h2>
    <p>What types of restaurants are you thinking about? If you just want to enter your own restaurants, you can skip this step.</p>

    <div class="form-group">
        <label class="label-lg">Location</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" ng-model="searchModel.location">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="resetLocation()" type="button"><span class="glyphicon glyphicon-map-marker"></span></button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="label-lg">Category</label>
        <select class="form-control input-lg" ng-model="searchModel.category" ng-options="c.shortName for c in categories"></select>
    </div>

    <div class="form-group">
        <label class="label-lg">Price</label>
        <div class="btn-group">
            <button type="button" ng-click="togglePrice(0)" ng-class="{ 'active': searchModel.prices[0] }" class="btn btn-default btn-toggle btn-lg">$</button>
            <button type="button" ng-click="togglePrice(1)" ng-class="{ 'active': searchModel.prices[1] }" class="btn btn-default btn-toggle btn-lg">$$</button>
            <button type="button" ng-click="togglePrice(2)" ng-class="{ 'active': searchModel.prices[2] }" class="btn btn-default btn-toggle btn-lg">$$$</button>
            <button type="button" ng-click="togglePrice(3)" ng-class="{ 'active': searchModel.prices[3] }" class="btn btn-default btn-toggle btn-lg">$$$$</button>
        </div>
    </div>

    <div id="footer">
        <div class="btn-group btn-group-lg">
            <a ui-sref="restaurants-list" class="btn btn-default btn-lg">Skip</a>
            <a ng-click="submit()" class="btn btn-primary btn-lg">Next</a>
        </div>
    </div>
</div>