<div class="container">
    <h2>Restaurant Search</h2>
    <p class="hidden-xxs">You may <a ng-click="skip()">skip</a> this screen to enter your own restaurants.</p>

    <div class="form-group">
        <label class="label-lg">Location</label>
        <div ng-class="{ 'input-group input-group-lg': searchModel.canGetLocation }">
            <input type="text" class="form-control" ng-model="searchModel.location" ng-class="{ 'input-lg': !searchModel.canGetLocation }">
            <span ng-show="searchModel.canGetLocation" class="input-group-btn">
                <button class="btn btn-default" ng-click="resetLocation()" type="button"><span class="glyphicon glyphicon-map-marker"></span></button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="label-lg">Category</label>
        <select class="form-control input-lg" ng-model="searchModel.category" ng-options="c.shortName for c in categories"></select>
    </div>

    <div class="form-group">
        <label class="label-lg">Price</label>
        <div class="btn-group">
            <button type="button" ng-click="togglePrice(0)" ng-class="{ 'active': searchModel.prices[0] }" class="btn btn-default btn-toggle btn-lg">$</button>
            <button type="button" ng-click="togglePrice(1)" ng-class="{ 'active': searchModel.prices[1] }" class="btn btn-default btn-toggle btn-lg">$$</button>
            <button type="button" ng-click="togglePrice(2)" ng-class="{ 'active': searchModel.prices[2] }" class="btn btn-default btn-toggle btn-lg">$$$</button>
            <button type="button" ng-click="togglePrice(3)" ng-class="{ 'active': searchModel.prices[3] }" class="btn btn-default btn-toggle btn-lg">$$$$</button>
        </div>
    </div>

    <!-- No Location Modal -->
    <div class="modal fade" id="noLocationModal" tabindex="-1" role="dialog" aria-labelledby="noLocationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="noLocationModalLabel">Location Required</h4>
                </div>
                <div class="modal-body">
                    We couldn't find your location, so you need to enter a location or skip this screen and add your own list of restaurants.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a ui-sref="restaurants-list" class="btn btn-primary" data-dismiss="modal">Skip</a>
                </div>
            </div>
        </div>
    </div>

    <!-- No Results Modal -->
    <div class="modal fade" id="noMatchesModal" tabindex="-1" role="dialog" aria-labelledby="noMatchesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="noMatchesModalLabel">No Restaurants Found</h4>
                </div>
                <div class="modal-body">
                    We couldn't find any restaurants matching the criteria you entered. Would you like to enter you own list of restaurants?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <a ui-sref="restaurants-list" class="btn btn-primary" data-dismiss="modal">Yes</a>
                </div>
            </div>
        </div>
    </div>

    <!-- No Internet Modal -->
    <div class="modal fade" id="noInternetModal" tabindex="-1" role="dialog" aria-labelledby="noInternetModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="noInternetModalLabel">No Restaurants Found</h4>
                </div>
                <div class="modal-body">
                    <p>We were unable search restaurants. You may not have an internet connection. </p><p>You can still use the app if you add restaurants manually.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a ui-sref="restaurants-list" class="btn btn-primary" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="footer-normal">
        <div class="btn-group btn-group-lg">
            <a ng-click="skip()" class="btn btn-default btn-lg">Skip</a>
            <a ng-click="submit()" class="btn btn-primary btn-lg">Next</a>
        </div>
    </div>
</div>