<div class="container">
    <h2 style="margin-bottom: 20px">Add Restaurants</h2>
    <div ng-show="failedValidation" class="alert alert-danger" role="alert"><b>Oops!</b> We suggest adding 5-10 places.</div>
    <form id="restaurant-form" ng-submit="addRestaurant()">
        <div class="input-group input-group-lg">
            <input class="form-control" id="new-restaurant" placeholder="e.g. Panera Bread" ng-model="newRestaurant" autocapitalize="words" autofocus>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addRestaurant()">Add</button>
            </span>
        </div><!-- /input-group -->
    </form>
    <div id="element-before-footer" ng-show="restaurants.length">
        <ul class="sorted-list list-group" id="restaurant-list">
            <li class="list-group-item" ng-repeat="restaurant in restaurants | orderBy:'name'">
                <div class="view">
                    <div class="view-column">
                        <label>{{restaurant.name}}</label>
                    </div>
                    <div class="view-column">
                        <button ng-click="removeRestaurant(restaurant)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="footer" class="footer-normal">
        <div class="btn-group btn-group-lg">
            <a ng-click="back()" class="btn btn-default btn-lg">Back</a>
            <a ng-click="submit()" class="btn btn-primary btn-lg">Next</a>
        </div>        
    </div>
</div>