<div class="container">
    <h2>Restaurant Selection</h2>
    <p>What types of restaurants are you thinking about? If you just want to enter your own restaurants, you can skip this step.</p>

    <div class="form-group">
        <label class="label-lg">Categories</label>
        <select class="form-control" ng-model="selectedCategories" ng-options="c.shortName for c in categories" multiple></select>
    </div>

    <div class="form-group">
        <label class="label-lg">Price</label>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-lg">$</button>
            <button type="button" class="btn btn-default btn-lg">$$</button>
            <button type="button" class="btn btn-default btn-lg">$$$</button>
            <button type="button" class="btn btn-default btn-lg">$$$$</button>
        </div>
    </div>

    <div class="form-group">
        <label class="label-lg">Location</label>
        <input class="form-control" type="text" ng-model="currentLocation" />
    </div>
    <div id="footer">
        <div class="btn-group btn-group-lg">
            <a ui-sref="restaurants.list" class="btn btn-default btn-lg">Skip</a>
            <a ng-click="submit()" class="btn btn-primary btn-lg">Next</a>
        </div>
    </div>
</div>