<div class="container vote-buttons">
    <div class="restaurant-wrapper">
        <h3>{{restaurant.name}}</h3>
    </div>
    <button ng-class="{ 'active-vote' : score == 10000 }" ng-click="vote(10000)" type="button" class="btn btn-default btn-lg btn-block">Love It!</button>
    <button ng-class="{ 'active-vote' : score == 1     }" ng-click="vote(1)"     type="button" class="btn btn-default btn-lg btn-block">Like It!</button>
    <button ng-class="{ 'active-vote' : score == 0     }" ng-click="vote(0)"     type="button" class="btn btn-default btn-lg btn-block">Hate It!</button>
</div>